[Unit]
Description=Nix package manager
DefaultDependencies=no
Before=sockets.target
After=ostree-remount.service
BindsTo=var.mount

[Mount]
What=/home/nix
Where=/nix
Options=bind
Type=none

[Install]
WantedBy=local-fs.target
